/* Style css */

.homepage{}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: Arial;
    font-weight: 500;
    font-size: 18px;
}

.row0 {height: 80px; position: relative;; background-color:#1d4e89}
.row1 {height: 450px; position:relative; align-items: center;background-color: white;}
.row2 {height: 600px; position:relative;}
.row3 {height: 90px; position: relative;}
/* ========================================== */

/* == Row 0 == */
.row0_left, .row0_right{ display:flex; display:block; float:none} 
.row0_left {float: left;}
.row0_right {float: right; margin-right: 20px;}
.row0_right ul li{
    display: inline-block;
    line-height: 20px;
    padding: 25px;
}
.row0_right ul li a{
    font-size: auto;
    font-family: Arial;
    color: honeydew;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 10px;
}
.row0_left img{
        padding:10px 0 0 20px;
        margin:0; 
        justify-content: center;
        height: 80px;
}
.nav{
    background:#00b3ca;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav:active, .nav:hover{
    transform: scale(1.1);
    transition: .5s;
}
.navinverse{
    display: flex;
}
.navinverse:active, .navinverse:hover{
    transform: scale(1.1);
    background:#00b3ca;
    transition: .5s;
}
/* ========================================== */

/* == Row 1 == */
.row1_left, .row1_right { height: 450px;}
.row1_left {
    float: left;
    justify-content: center;
    align-items: center;}
.row1_right {
    float: right;
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color:#9dc6d858;
}
.heading_1{
    font-size: 30px;
    font-weight: 100;
    padding-left: 300px;
    color:black;
}    
.heading_2{
    font-size: 40px;
    font-weight: bold ;
    padding-left: 300px;
    color:black;
}
.desc1{
    padding-left: 300px;
}
.profile{
    display: flex;
    position:absolute;
    margin:50px 0px 0px 80px;
    height: 350px;
}
.profile:active, .profile:hover{
    transform: scale(1.05);
    transition: .5s;
}
#box1 {
    border:transparent;
    padding: 0px;
    box-shadow: 5px 5px 10px 0 #c6cccc;
}
.nospace, .inline, .pushright{
    padding-left:290px;
}
.button, .buttoninverse{
    float: left;
    margin: 10px;
}
.buttoninverse ul li{
    padding-left: 20px;
}

.button{
    font-family: Arial;
    color: honeydew;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color:#1d4e89;
}
.buttoninverse{
    font-family: Arial;
    color: #1d4e89;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border-color:#1d4e89;
    border-width: 1px;
    border-style:solid;
}
.button:active, .button:hover{
    background:#00b3ca;
    transition: .5s;
    transform: scale(1.1);
}
.buttoninverse:active, .buttoninverse:hover{
    background:#1d4e89;
    transition: .5s;
    transform: scale(1.1);
}
/* ========================================== */

/* == Row 2 == */
.expertise{
    font-size: 50px;
    padding: 40px;
    color: black;
}

.a{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
.b{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:#9dc6d858;
    margin: 50px;
    color:black;
    font-size: 25px;
}
.b:active, .b:hover{
    transform: scale(1.1);
}
#box2 {
    border:transparent;
    padding: 0px;
    box-shadow: 5px 8px 10px 0 #c6cccc;
}
/* ========================================== */

/* == Row 3 == */
.row3{
    background-color:rgb(17, 17, 17);
    color: white;
    
}
.row3_left, .row3_right{
    display: flex;
    flex-direction: row;
    
}
.row3_left{
    float:left;
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.row3_right{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.c{
    margin-left: 20px;
    height: 70px; 
}
.d{

    font-weight: 100;
    margin:33px 0px 33px 50px;
}

/* ========================================== */